body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.header-size{
    font-size: 30px;
}
h1{
    font-size: 40px;
}

.Name-color{
    color: rgb(219, 79, 126);
    font-family: 'Poppins', sans-serif;
}
.div-area{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding: 9%;
}
.div-area img{
    width: 100%;
}
.header-bg{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
section{
    height: 400px;
    padding-bottom: 35px;
}
.link-button{
    text-decoration: none;
    color:white;
    background-image: linear-gradient(45deg, rgb(236, 34, 135),rgb(233, 95, 114));
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 300;
    
}

.bioghraphy-bg{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 580px;
}
#div-pic{
    margin-left: 0px;
    padding-bottom: 0px;
}
#div-text{
    margin-right: 0px;
    padding-bottom: 0px;
    
}
#div-pic2{
    margin-right: 0px;
    margin-bottom: 3px;
}
#div-text2{
    margin-left: 0px;
    padding-bottom: 0px;
}
.image-fixing{
    width: 20%;
    height: 10%;
    position: relative;
    margin-left: 18%;
    
}
#images-fixing2{
    margin-left: 1%
}
#images-fixing3{
    margin-left: 1%;
}
.header{
    margin-top: 7%;
    text-align: center;
    font-size: 30px;
}
.middle{
    text-align: center;
}
.middle2{
    text-align: center;
}
.size-1{
    font-size: 10px;
}
.size-2{
    font-size: 25px;
}
#link-box{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(236, 34, 135),rgb(233, 95, 114));
    padding: 15px; 35px;
    margin: 10px;
    border-radius: 5px;
    color: White;
    font-weight: 900;
    border:20%;
}
#latest-work-bg{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}
#footer{
    background-image: url("images/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}
.boder-box{
    color:white;
    background-image: linear-gradient(45deg, rgb(236, 34, 135),rgb(233, 95, 114));
    padding: 20px;
    margin: 100px;
    width: 45%;
    height: 20%;
    border-radius: 5px;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
}   
.size{
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    
}
footer{
    text-align: center;
}

 